body {
  padding: 50px 0px;
}

.footer {
  height: 50px;
  line-height: 50px;
}

.color-theme {
  background-color: #454565;
  color: #dfdfef;
}

.color-body {
  color: #454565;
  background-color: #dfdfef;
}

.content {
  height: 100%;
}