<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ page.title }}</title>
  
  <!-- HTML -->
  
  <!-- Bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.2/dist/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.2/dist/css/bootstrap.min.css">

  <!-- Custom Styles -->
  <link rel="stylesheet" href="main.css">
</head>

<body>
  <nav class="navbar color-theme">
    <span class="navbar-brand">
      <img src="https://raw.githubusercontent.com/dfx81/dfx81.github.io/master/res/logo.png" width="32" height="32" alt="" loading="lazy"></img>
      <span class="mx-3">{{ page.title }}</span>
    </span>
  </nav>
  
  <div class="color-body">{{ content }}</div>
  
  <footer class="footer color-theme">
    <div class="container">
      <span class="text-center">Website designed & written by Danial Fitri (dfx)</span>
    </div>
  </footer>
  
  <!-- Project -->
  <script src="main.js"></script>
</body>
</html>